# Runtime dependencies
bencodepy==0.9.5
diskcache==5.6.3
flask==3.0.3
gunicorn==23.0.0
iso-639==0.4.5
lxml==5.4.0
parse-torrent-name==1.1.1
pymediainfo==4.2.1
python-dateutil==2.9.0.post0
-e git+https://github.com/agonzalezro/python-opensubtitles@0143db67df5b80155c258887ca36f62a92455d4e#egg=python_opensubtitles
requests==2.31.0
requests-unixsocket==0.3.0
urllib3==1.26.16
werkzeug==3.0.6